<form
  [formGroup]="registerForm"
  (ngSubmit)="submitDetails()"
  class="register-form"
>
  <div class="form-group">
    <h1>Register</h1>
    <label for="fullName">Full Name:</label>
    <input
      type="text"
      name="fullName"
      formControlName="fullName"
      placeholder="Enter your full name"
      class="form-control"
    />
    <small
      *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)"
      class="error-message"
    >
      <div *ngIf="fullName.errors?.['required']">Name is required</div>
      <div *ngIf="fullName.errors?.['pattern']">Enter a valid name</div>
    </small>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="text"
      name="email"
      formControlName="email"
      placeholder="Enter your email"
      class="form-control"
    />
    <small *ngIf="emile.invalid && (emile.dirty || emile.touched)">
      <div *ngIf="emile.errors?.['required']">Emile is required</div>
      <div *ngIf="emile.errors?.['emile']" style="color: red">
        Emile should be valid
      </div>
    </small>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input
      type="password"
      name="password"
      formControlName="password"
      placeholder="Enter your password"
      class="form-control"
    />
    <small
      *ngIf="password.invalid && (password.dirty || password.touched)"
      class="error-message"
    >
      <div *ngIf="password.errors?.['required']">Password is required</div>
    </small>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password:</label>
    <input
      type="password"
      name="confirmPassword"
      formControlName="confirmPassword"
      placeholder="Confirm your password"
      class="form-control"
    />
    <small
      *ngIf="
        confirmPassword.invalid &&
        (confirmPassword.dirty || confirmPassword.touched)
      "
      class="error-message"
    >
      <div *ngIf="confirmPassword.errors?.['required']">
        Please confirm your password
      </div>
    </small>
    <small
      *ngIf="registerForm.errors?.['passwordMismatch']"
      class="error-message"
      >Passwords must match</small
    >
  </div>
  <button
    type="submit"
    [disabled]="registerForm.invalid"
    class="submit-button"
  >
    Register
  </button>
  <div class="login-link">
    Already a member? <a routerLink="/login">Log in</a>
  </div>
</form>

<!-- სერვერის ჩართვა დალოგინებისთვის ამის გარეშე არ მუშაობს დალოგინება!!!
  npx json-server db.json
 -->