<div class="main" *ngIf="showContent" > <!--[@fadeIn]-->
    <app-search-america></app-search-america>
  <p class="no-food" *ngIf="noFood">No Food Found!</p>
  <div class="container">
    <div *ngFor="let food of foods">
      <div class="cards">
        <a routerLink="/food/{{food.id}}">
          <img src="{{ food.imageUrl }}" alt="" />
        </a>
        <div class="content">
          <div class="name">
            {{ food.name }}
          </div>
          <span
            class="{{
              food.favorite
                ? 'material-symbols-outlined filled'
                : 'material-symbols-outlined'
            }}"
            (click)="onClick(food)"
          >
            favorite
          </span>
          <div class="stars">
            <star-rating [stars]="food.stars" />
          </div>
          <div class="product-item-footer">
            <div class="origins">
              <span *ngFor="let tag of food.tags">
                {{ tag }}
              </span>
            </div>
            <div class="cook-time">
              <span class="material-symbols-outlined"> schedule </span>
              <p>{{ food.cookTime }}</p>
            </div>
          </div>
          <div class="price">
              <span>
                  {{food.price|currency}}
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  
