@import '../../../variables.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: $dark-brown;
    width: 100%;
    margin-top: 25rem;
    padding: 3rem 0rem;
    padding-bottom: 1rem;
    color: $dark-beige;

    .upper-side {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 2rem;
        border-bottom: 2px solid $dark-beige;
        .about {
            max-width: 50%;
            padding: 2rem;
            font-size: 1.2rem;
        }

        .add-info {
            max-width: 50%;
            display: flex;
            justify-content: space-evenly;
            margin: 0 2rem;
            .categories {
                padding: 0 2.5rem;
                margin: 2rem;
                font-size: 1.2rem;
                a {
                    color: inherit;
                    text-decoration: none;
                    display: block;
                    position: relative;
                    padding: 0.3rem 0;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0.3rem;
                        left: 0;
                        width: 70%;
                        height: 0.1rem;
                        background-color: $dark-beige;
                        opacity: 0;
                        transition: opacity 300ms, transform 300ms;
                    }
                      
                    &:hover::after, a:focus::after {
                        opacity: 1;
                        transform: translate3d(0, 0.2em, 0);
                    }
                }
            }
        }
    }

    .lower-side {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.8rem;
        div {
            margin: 0 2rem;
        }

        .icons {
            a {
                color: inherit;
                text-decoration: none;
                span {
                    border-radius: 50%;
                    padding: 0.3rem;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        background-color: $light-brown;
                    }
                }
            }
        }
    }
}
