<div class="container">
    <div class="upper-side">
        <div class="about">
            <h2>About</h2>
            <p class="about-text">
                Food is a language which all of the people speak, we want to unite different socities through the amazing cuisine of various countries, try our diverse food choices you won't regret it!
            </p>
        </div>
        <div class="add-info">
            <div class="categories">
                <h2>Countries</h2>
                <a href="country/georgia"><p>Georgia</p></a>
                <a href="country/italy"><p>Italy</p></a>
                <a href="country/france"><p>France</p></a>
                <a href="country/india"><p>India</p></a>
                <a href="country/america"><p>America</p></a>
            </div>
        </div>
    </div>
    <div class="lower-side">
        <div class="copyright">
            Copyright &copy; 2024 All Rights Reserved by Diverse
        </div>
        <div class="icons">
            <a href="">
                <span class="material-symbols-outlined">
                    restaurant
                </span>
            </a>
        </div>
    </div>
</div>