<div class="container">
    <div class="upper-side">
        <div class="about">
            <h2>About</h2>
            <p class="about-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid amet et eum perspiciatis reprehenderit tempore minus, rem quia cum, ratione eligendi ea, dolore quam placeat laudantium sed possimus numquam? Nobis!
            </p>
        </div>
        <div class="add-info">
            <div class="categories">
                <h2>Categories</h2>
                <p>first</p>
                <p>second</p>
                <p>third</p>
                <p>fourth</p>
            </div>
            <div class="quick-links">
                <h2>Links</h2>
                <p>first</p>
                <p>second</p>
                <p>third</p>
                <p>fourth</p>
            </div>
        </div>
    </div>
    <div class="lower-side">
        <div class="copyright">
            Copyright &copy; 2017 All Rights Reserved by Diverse
        </div>
        <div class="icons">
            <span class="material-symbols-outlined">
                html
            </span>
            <span class="material-symbols-outlined">
                css
            </span>
        </div>
    </div>
</div>