<!-- <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <div>
    <label for="email">Email:</label>
    <input
      type="text"
      name="email"
      formControlName="email"
      placeholder="Type your email"
    />
    <small *ngIf="emile.invalid && (emile.dirty || emile.touched)">
      <div *ngIf="emile.errors?.['required']">Emile is required</div>
      <div *ngIf="emile.errors?.['emile']" style="color: red">
        Emile should be valid
      </div>
    </small>
  </div>
  <div class="input">
    <label for="password">Password:</label>
    <input
      type="password"
      name="password"
      formControlName="password"
      placeholder="Type your password"
    />
    <small *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors?.['required']">Password is required</div>
      <div *ngIf="password.errors?.['emile']" style="color: red">
        Emile should be valid
      </div>
    </small>
  </div>
  <button label="Sing in" [disabled]="loginForm.invalid" type="submit">
    SING IN
  </button>
  <div>Not a mamber? <a routerLink="/register">Register</a></div>
</form> -->

<!-- <form class="container" [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <div class="form-outline mb-4">
    <input
      type="text"
      name="email"
      formControlName="email"
      placeholder="Type your email"
      id="form2Example1"
      class="form-control"
    />
    <label class="form-label" for="email">Email address</label>
    <small *ngIf="emile.invalid && (emile.dirty || emile.touched)">
      <div *ngIf="emile.errors?.['required']">Emile is required</div>
      <div *ngIf="emile.errors?.['emile']" style="color: red">
        Emile should be valid
      </div>
    </small>
  </div>

  <div class="form-outline mb-4">
    <input
      type="password"
      name="password"
      formControlName="password"
      placeholder="Type your password"
      id="form2Example2"
      class="form-control"
    />
    <label class="form-label" for="form2Example2">Password</label>
    <small *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors?.['required']">Password is required</div>
      <div *ngIf="password.errors?.['emile']" style="color: red">
        Emile should be valid
      </div>
    </small>
  </div>
  <div class="text-center">
    <p>Not a member? <a routerLink="/register">Register</a></p>

    <button
      label="Sing in"
      [disabled]="loginForm.invalid"
      type="submit"
      class="btn btn-primary btn-block mb-4"
    >
      Sign in
    </button>
  </div>
</form> -->
<form
  class="vh-100 gradient-custom"
  [formGroup]="loginForm"
  (ngSubmit)="loginUser()"
>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">
                Please enter your login and password!
              </p>

              <div class="form-outline form-white mb-4">
                <input
                  type="text"
                  name="email"
                  formControlName="email"
                  id="typeEmailX"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="email">Email</label>
                <small *ngIf="emile.invalid && (emile.dirty || emile.touched)">
                  <div *ngIf="emile.errors?.['required']">
                    Emile is required
                  </div>
                  <div *ngIf="emile.errors?.['emile']" style="color: red">
                    Emile should be valid
                  </div>
                </small>
              </div>

              <div class="form-outline form-white mb-4">
                <input
                  type="password"
                  name="password"
                  formControlName="password"
                  id="typePasswordX"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="typePasswordX">Password</label>
                <small
                  *ngIf="
                    password.invalid && (password.dirty || password.touched)
                  "
                >
                  <div *ngIf="password.errors?.['required']">
                    Password is required
                  </div>
                  <div *ngIf="password.errors?.['emile']" style="color: red">
                    Emile should be valid
                  </div>
                </small>
              </div>

              <button
                label="Sing in"
                [disabled]="loginForm.invalid"
                type="submit"
                class="btn btn-outline-light btn-lg px-5"
              >
                Sign in
              </button>
            </div>

            <div>
              <p class="mb-0">
                Don't have an account?
                <a routerLink="/register" class="text-white-50 fw-bold"
                  >Sign Up</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
