@import 'src/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

.container {
    display: flex;
    height: 7rem;
    border-bottom: 1px solid $dark-brown;
    justify-content: space-between;
    align-items: center;
    a {
        flex: 0;
        align-self: center;
        font-family: 'Protest Revolution', sans-serif;
        font-size: 5rem;
        font-weight: 600;
        color: $dark-brown;
    }
    .left-side {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .right-side {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        span {
            color: $dark-brown;
            font-size: 3rem;
        }
    }
}

