<!-- <form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
  <div>
    <label for="fullName">fullName:</label>
    <input
      type="fullName"
      name="fullName"
      formControlName="fullName"
      placeholder="Type your fullName"
    />
    <small *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
      <div *ngIf="fullName.errors?.['required']">Name is required</div>
      <div *ngIf="fullName.errors?.['pattern']" style="color: red">
        Enter valid name
      </div>
    </small>
  </div>
  <div>
    <label for="email">Email:</label>
    <input
      type="text"
      name="email"
      formControlName="email"
      placeholder="Type your email"
    />
    <small *ngIf="emile.invalid && (emile.dirty || emile.touched)">
      <div *ngIf="emile.errors?.['required']">Emile is required</div>
      <div *ngIf="emile.errors?.['emile']" style="color: red">
        Emile should be valid
      </div>
    </small>
  </div>
  <div>
    <label for="password">Password:</label>
    <input
      type="password"
      name="password"
      formControlName="password"
      placeholder="Type your password"
    />
    <small *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors?.['required']">Password is required</div>
      <div *ngIf="password.errors?.['emile']" style="color: red">
        Emile should be valid
      </div>
    </small>
  </div>

  <div>
    <label for="confirmPassword">Confirm Password:</label>
    <input
      type="password"
      name="confirmPassword"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
    />
    <small
      *ngIf="
        confirmPassword.invalid &&
        (confirmPassword.dirty || confirmPassword.touched)
      "
    >
      <div *ngIf="confirmPassword.errors?.['required']">
        confirm the Password
      </div>
    </small>
    <small
      *ngIf="registerForm.errors?.['passwordMissmatch'] && confirmPassword.valid && password.valid"
    >
      Password should match
    </small>
  </div>
  <button label="register" [disabled]="registerForm.invalid" type="submit">
    SING IN
  </button>
  <div>Alredy a member? <a routerLink="/login">Log in</a></div>
</form> -->

<form class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Sing up</h2>
              <p class="text-white-50 mb-5">Become our member!</p>

              <div class="form-outline form-white mb-4">
                <input
                  type="fullName"
                  name="fullName"
                  formControlName="fullName"
                  placeholder="Type your fullName"
                  id="typeEmailX"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="typeEmailX">FullName:</label>
                <small
                  *ngIf="
                    fullName.invalid && (fullName.dirty || fullName.touched)
                  "
                >
                  <div *ngIf="fullName.errors?.['required']">
                    Name is required
                  </div>
                  <div *ngIf="fullName.errors?.['pattern']" style="color: red">
                    Enter valid name
                  </div>
                </small>
              </div>

              <div class="form-outline form-white mb-4">
                <input
                  type="text"
                  name="email"
                  formControlName="email"
                  placeholder="Type your email"
                  id="typePasswordX"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="typePasswordX">Email</label>
                <small *ngIf="emile.invalid && (emile.dirty || emile.touched)">
                  <div *ngIf="emile.errors?.['required']">
                    Emile is required
                  </div>
                  <div *ngIf="emile.errors?.['emile']" style="color: red">
                    Emile should be valid
                  </div>
                </small>
              </div>

              <div class="form-outline form-white mb-4">
                <input
                  type="password"
                  name="password"
                  formControlName="password"
                  placeholder="Type your password"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="typePasswordX">Password</label>
                <small
                  *ngIf="
                    password.invalid && (password.dirty || password.touched)
                  "
                >
                  <div *ngIf="password.errors?.['required']">
                    Password is required
                  </div>
                  <div *ngIf="password.errors?.['emile']" style="color: red">
                    Emile should be valid
                  </div>
                </small>
              </div>

              <div class="form-outline form-white mb-4">
                <input
                  type="password"
                  name="confirmPassword"
                  formControlName="confirmPassword"
                  placeholder="Confirm Password"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="typePasswordX"
                  >Confirm Password</label
                >
                <small
                  *ngIf="
                    confirmPassword.invalid &&
                    (confirmPassword.dirty || confirmPassword.touched)
                  "
                >
                  <div *ngIf="confirmPassword.errors?.['required']">
                    confirm the Password
                  </div>
                </small>
                <small
                  *ngIf="registerForm.errors?.['passwordMissmatch'] && confirmPassword.valid && password.valid"
                >
                  Password should match
                </small>
              </div>

              <button
                class="btn btn-outline-light btn-lg px-5"
                label="register"
                [disabled]="registerForm.invalid"
                type="submit"
              >
                Login
              </button>

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a href="#!" class="text-white"
                  ><i class="fab fa-facebook-f fa-lg"></i
                ></a>
                <a href="#!" class="text-white"
                  ><i class="fab fa-twitter fa-lg mx-4 px-2"></i
                ></a>
                <a href="#!" class="text-white"
                  ><i class="fab fa-google fa-lg"></i
                ></a>
              </div>
            </div>

            <div>
              <p class="mb-0">
                Alredy a member?
                <a routerLink="/login" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
