@import "src/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: $beige;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $dark-brown;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $light-brown;
}
